@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Preahvihear&display=swap');

/* variaveis */
:root {
	--bordo:#401309;
	--bege-clarinho:#F2D16D;
	--salmao:#F26D3D;
	--bege:#F29C50;

	--fonte-principal:'Preahvihear', sans-serif;
	--fonte-segundaria:'Indie Flower', cursive;
}

body {
	font-family: var(--fonte-principal);
	background-color: var(--bege-clarinho);
}

/* custom barra navegação */
#barra-nav {
	background-color: var(--bordo);
	padding: 1rem 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;z-index: 1000;
}

/* lista nao ordenada da barra de navegação */
#barra-nav ul {
	margin: 0;
	padding: 0;
	text-align: right;
	padding-right: 5rem;
}

/* itens da lista da barra de navegação */
#barra-nav li {
	display: inline-block;
	margin-right: 10px;
	font-weight: 600;
	padding: 5px 2px;
	color: var(--bege-clarinho);

}

#barra-nav .nav-link:hover {
	color: var(--salmao);
	text-decoration: none;
}

#logo img {
	display: inline-block;
	position: relative;
	left: 5rem;
	width: 38px;
}

/* customização da hero image */
.hero-texto {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.bgimage {
	height: 100vh;
	position: relative;
	background: url("img/hero.jpg");
	background-size: cover;
}

.hero-titulo {
	font-size: 4.5rem;
	font-family: var(--fonte-segundaria);
}

.hero-sub {
	font-size: 2rem;
}

/* seção posts 
.titulo-post {
	position: absolute;
	top: -2%;
	left: 50%;
} */

/* seção corpo page */
#post,#criar, #sobre {
	margin: 5rem;
	background-color: var(--salmao);
	border-radius: 10px;
	padding: 2rem;
}

/* seção form criar novo post */
#post-form {
	display: flex;
	flex-direction: column;
}

#post-form input {
	width: 100%;
}

#post-form textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 10rem;
}

#post-form button {
 	width: 30%;
 	position: relative;
 	left: 50%;
 	translate: -50%;
}

.dev {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}

.img-dev {
	width: 100%;
	padding: 1rem 0;
}

.dev p {
	padding: 1rem;
}

.icone-contato {
	font-size:  32px;
	padding-bottom: 1rem;
	color: var(--bordo);
}